<ng-container *ngIf="language$ | async">
</ng-container>
<section class="contact u-page">
  <h1 class="u-page__title">
    {{ translation.t('contact.title') }}
  </h1>

  <p class="u-page__subtitle">
    {{ translation.t('contact.body') }}
  </p>

  <ul class="contact__list u-mt-md">
    <li class="contact__item">
      <span class="contact__label">
        {{ translation.t('contact.email.label') }}:
      </span>
      <a href="mailto:pabloalejandrovidal@gmail.com">
        pabloalejandrovidal&#64;gmail.com
      </a>
    </li>

    <li class="contact__item">
      <span class="contact__label">
        {{ translation.t('contact.github.label') }}:
      </span>
      <a href="https://github.com/PabloAlejandroVidal" target="_blank">
        github.com/PabloAlejandroVidal
      </a>
    </li>

    <li class="contact__item">
      <span class="contact__label">
        {{ translation.t('contact.linkedin.label') }}:
      </span>
      <a
        href="https://www.linkedin.com/in/pablo-vidal-2970b6195/"
        target="_blank"
      >
        LinkedIn
      </a>
    </li>
  </ul>
</section>
